<!-- templates/ask.html -->
{% extends 'base.html' %}

{% block title %}
Add Question
{% endblock %}

{% block header %}
	{% include 'header.html' %}
{% endblock %}

{% block main %}
<div class='ask'>
	{% for e in form.non_field_errors %}
		<div> Error: {{ e }} </div>
	{% endfor %}

	<form method='post'>
		{% csrf_token %}
		<figure>
			<figcaption>What do you want to ask?</figcaption>
			{{ form.text }}
		</figure>
		<figure id='ask_figure'>
			<button id='ask_button' type='submit'>Ask</button>
		</figure>
	</form>
</div>
{% endblock %}
