<!-- templates/ask.html -->
{% extends 'base.html' %}

{% block title %}
Add Question
{% endblock %}

{% block header %}
	{% include 'header.html' %}
{% endblock %}

{% block main %}
<div>
	<hr>
	{% for e in form.non_field_errors %}
		<div> Error: {{ e }} </div>
	{% endfor %}

	<form method='post'>
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
				<div>
					<label>{{ field.label }}</label>
					<div>{{ field }}</div>
				</div>
			{% endfor %}
		</fieldset>
		<button type='submit'>Ask</button>
	</form>
	<hr>
</div>
{% endblock %}
