<!-- templates/header.html -->
<header>
	<div class='wrapper'>
		<nav>
			<ul>
				<li id='logo' class='header_li_left'><a href='{% url 'root' %}'>Q</a></li>
				<li class='header_li_left'><a href='{% url 'root' %}'>Questions</a></li>
				<li id='add_question' class='header_li_left'><a href='{% url 'add_question' %}'>Add Question</a></li>
				{% if user.is_authenticated %}
				    <li class='header_li_right'><a id='header_user' href='{% url 'logout' %}'>{{ user }}</a></li>
				{% else %}
					<li class='header_li_right'><a href='{% url 'login' %}'>Sign In</a></li>
				{% endif %}			
			</ul>
		</nav>
	</div>
</header>