<!-- templates/question.html -->
{% extends 'base.html' %}

{% block title %}
	{{ question.title }}
{% endblock %}

{% block header %}
	{% include 'header.html' %}
{% endblock %}

{% block main %}

<div>
	<h1>{{ question.title }}</h1>
	<p>{{ question.text }}</p>
</div>

<div>
	<hr>
	{% for e in form.non_field_errors %}
		<div> Error: {{ e }} </div>
	{% endfor %}

	<form method='post'>
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
				<div>
					<label>{{ field.label }}</label>
					<div>{{ field }}</div>
				</div>
			{% endfor %}
		</fieldset>
		<button type='submit'>Answer</button>
	</form>
	<hr>
</div>

<div>	
	{% for answer in answers %}
		<p>{{ answer.text }}</p>
	{% endfor %}
</div>
{% endblock %}
