<!-- templates/question.html -->
{% extends 'base.html' %}

{% block title %}
	{{ question.title }}
{% endblock %}

{% block header %}
	{% include 'header.html' %}
{% endblock %}

{% block main %}
<div class='main_question'>
	<h1>{{ question.text }}</h1>
	<div id='main_question_meta'>
		<span id='main_question_author'>{{ question.author }}</span>
		<span id='main_question_data'>&nbsp;|&nbsp;{{ question.added_at }}</span>
	</div>
	<hr>
	{% for e in form.non_field_errors %}
		<p> Error: {{ e }} </p>
	{% endfor %}
	<form method='post'>
		{% csrf_token %}
		{% for field in form %}
			<figure>
				{{ field }}
			</figure>
		{% endfor %}
		<figure id='answer_button'>
			<button type='submit'>Answer</button>
		</figure>
	</form>
</div>
		
{% for answer in answers %}
		<div class='main_question answers'>
			<div class='answer_meta'>
				<p>{{ answer.author }}</p>
				<p>{{ answer.added_at }}</p>
			</div>
			<p class='answer_text'>{{ answer.text }}</p>
		</div>
{% endfor %}
{% endblock %}
