<!-- templates/quesiton_list.html -->
{% extends 'base.html' %}

{% block title %}
	{{	block.super	}} - New
{% endblock	%}

{% block header	%}
	{%	include	'header.html' %}
{% endblock	%}

{% block main %}
<main>
	<div class='wrapper'>
		{%	for	question in	questions %}
			<div class='question'>
				<h3><a href='/question/{{ question.id }}/'>{{ question.title }}</a></h3>
				<p>{{ question.author }} | {{ question.added_at }}</p>
			</div>	
		{%	endfor %}

		{% include 'page_navigation.html' %}	
	<div>
</main>
{% endblock	%}
