<!-- templates/signin.html -->
{% extends 'base.html' %}

{% block title %}
	Sign In
{% endblock %}

{% block header %}
	{% include 'header.html' %}
{% endblock %}

{% block main %}
<div class='sign' id='signin'>
	<h2>Sign In</h2>
	{% for e in form.non_field_errors %}
		<div>Error: {{ e }}</div>
	{% endfor %}
	<form method='post'>
		{% csrf_token %}
			{% for field in form %}
				<figure>
					<figcaption>{{ field.label }}</figcaption>
					{{ field }}
				</figure>
				{% if field.errors %}<p>{{ field.errors }}<p>{% endif %}
			{% endfor %}
				<h5>{{ error }}</h5>
				<figure id='button_figure'>
					<button type='submit'>Sing In</button>
				</figure>
	</form>
	<p>Don't have an account?<br/>Then <a href='{% url 'register' %}'>register</a>.</p>
</div>
{% endblock %}
